<?xml version="1.0" encoding="UTF-8"?>
<project name="AutoFIT" default="full-build">
	<target name="lint">
		<apply executable="php" failonerror="true">
			<arg value="-l" />
			<fileset dir="${basedir}/src">
				<include name="./module/Order/src/Order/**/*.php" />
			</fileset>
		</apply>
	</target>
</project>
