<target name="lint">
	<apply executable="php" failonerror="true">
		<arg value="-l" />
		<fileset dir="${basedir}/src">
			<include name="./module/Order/src/Order/**/*.php" />
		</fileset>
	</apply>
</target>
