<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="test/Bootstrap.php"
	cacheTokens="false"
	colors="true"
>
	<php>
		<env name="RUNTIME_CONTEXT" value="testing" />
	</php>
	<testsuites>
		<testsuite name="unit-app-only">
			<directory suffix="Test.php">test/Unit</directory>
		</testsuite>
		<testsuite name="integration-app-only">
			<directory suffix="Test.php">test/Integration</directory>
		</testsuite>
		<testsuite name="app-lib">
			<directory suffix="Test.php">vendor/db-systel/dbs-common-lib/tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">module/**/src</directory>
			<directory suffix=".php">vendor/db-systel/**/src</directory>
			<exclude>
				<directory suffix=".php">vendor/db-systel/**/tests</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
