body {
  padding-top: 60px;
  padding-bottom: 40px;
  line-height: 20px;
}
fieldset {
  padding: 1px;
  /* To avoid the issue in the IE. #79 */
}
dt {
  background: #f7f7f7;
}
dt:hover {
  background: #f0f0f0;
}
textarea {
  resize: vertical;
}
a:focus {
  outline: 0;
}
.clearer {
  display: block;
  floate: none;
  clear: both;
}
.btn {
  margin-top: 10px;
  margin-bottom: 25px;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}
.btn-success:active,
.btn-success.active {
  background-color: #57a900;
}
.block-title {
  text-align: center;
}
.centered {
  text-align: center;
}
.title-addition {
  font-size: 14px;
}
.create-link-container,
.start-link-container {
  text-align: center;
}
.create-link-container {
  display: none;
}
.btn-default.create-link,
.btn-default.create-link:hover,
.btn-default.create-link:active,
.btn-default.create-link:focus,
.btn-default.create-link:visited,
.btn-default.start-link,
.btn-default.start-link:hover,
.btn-default.start-link:active,
.btn-default.start-link:focus,
.btn-default.start-link:visited {
  color: #ffffff;
  font-size: 40px;
  border: 0;
  width: 400px;
  margin: 50px auto;
  line-height: 70px;
}
#start-link-cd,
#create-link-cd {
  background: #ffcc33;
}
#start-link-ftgw,
#create-link-ftgw {
  background: #0099ff;
}
/* bootstrap #start# */
select {
  display: block;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0 10px;
}
.row {
  margin: 0;
}
.navbar-collapse {
  float: left;
}
.navbar-inverse {
  border: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ff0000;
  background-color: #080808;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 32px;
  }
}
/* bootstrap #stop# */
/* bootstrap-theme #start# */
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #dddddd 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #dddddd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffdddddd', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(100, 100, 100, 0.25);
  box-shadow: inset 0 3px 9px rgba(100, 100, 100, 0.25);
  color: #000000;
}
/* bootstrap-theme #stop# */
/* order form #start# */
form fieldset legend {
  display: inline;
  margin: 0 15px;
  font-size: inherit;
  border-bottom: 0px solid #e5e5e5;
  font-weight: bold;
}
form label fieldset legend {
  display: none;
}
form div.validation-errors-container {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 15px 5px 15px;
  color: #a94442;
}
form div.validation-errors-container:empty {
  display: none;
}
form div.validation-errors-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form div.validation-errors-container ul li {
  margin: 5px 0 5px 0;
  padding: 5px 15px 5px 15px;
}
form .form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afafaf;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afafaf;
}
form.cd .form-control:focus {
  border-color: #ffcc33;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ffcc00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ffcc00;
}
form.ftgw .form-control:focus {
  border-color: #0099ff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0099ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0099ff;
}
@media print {
  .fieldgroup-container#buttons {
    display: none;
  }
}
form .add-button-container {
  padding-left: 30px;
}
form .checkboxdummy {
  display: none;
}
form .protocol-field {
  margin: 0 0 0 15px;
}
/* the checkbox labels */
form #fieldgroup-logical_connection .notification-checkbox {
  margin-top: 20px;
}
form input.input-error {
  color: #ff0000;
}
/* order form #stop# */
.appNamePartAuto {
  color: #ff0000;
}
.appNamePartFIT {
  color: #606060;
}
#appDescription {
  font-size: 14px;
  font-style: italic;
}
div#current-user {
  margin: 10px 0;
  float: right;
}
div.message-error ul {
  list-style: none;
  maprgin: 0 5px;
  padding: 0;
}
div.message-error ul li {
  background-color: #f2dede;
  padding: 5px;
  border-radius: 6px;
  color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
div.controls {
  text-align: center;
}
div.hidden {
  visibility: hidden;
}
div.form-field-wrapper {
  margin-bottom: 5px;
  font-weight: bold;
}
div.form-field-wrapper label {
  margin-bottom: 0;
}
div.info-box {
  padding: 15px;
  border-radius: 4px;
  background: #fcfcfc;
}
div.info-box .header {
  background-image: url(/img/info-icon.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0 10px 0 0;
  font-weight: bold;
  cursor: pointer;
}
div.info-box .body {
  display: none;
  padding: 10px 0 0 0;
}
span.inline-code {
  font-family: Courier New, Courier, monospace;
}
table#crontab-examples td.dt {
  font-weight: bold;
  white-space: nowrap;
}
table.list td {
  border-bottom: 1px solid #dddddd;
}
.error-reference {
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.ui-autocomplete {
  max-height: 265px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.navbar-inverse .navbar-nav.backend > li > a {
  color: #dd0000;
}
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#buttons {
  text-align: right;
}
@media print {
  .panel-default {
    max-width: 17cm;
  }
  .panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%) !important;
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%) !important;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0) !important;
  }
  dt {
    background: #f7f7f7 !important;
  }
}
.pagination-container {
  text-align: center;
}
.pagination {
  margin: 0 0 20px 0;
}
.pagination > li {
  display: inline-block;
  margin: 0 5px;
}
.pagination > li > a,
.pagination > li > span {
  color: #000000;
  background-color: #f7f7f7;
  font-weight: bold;
  border-radius: 3px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #000000;
  background-color: #f0f0f0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #d53c37;
  border-color: #dddddd;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #eeeeee;
}
.glyphicon {
  font-size: 75%;
}
.glyphicon-edit {
  color: #333333;
}
.glyphicon-remove-sign {
  color: #e60000;
}
.glyphicon-check {
  color: #4ebe41;
}
.glyphicon-scale {
  color: #000000;
}
.glyphicon-floppy-disk {
  color: #000000;
}
.glyphicon-file {
  color: #3060cf;
}
.glyphicon-minus-sign {
  color: #e60000;
}
.glyphicon-ok-sign {
  color: #3060cf;
}
.glyphicon-export-json {
  color: #3399ff;
}
.glyphicon-export-xml {
  color: #f67900;
}
.jumbotron.jumbotron-main {
  position: relative;
}
#version {
  background: url('/img/version-beta.png') no-repeat left top;
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 55px;
  height: 55px;
}
form#audit_log #fieldgroup-sort .panel.panel-default,
form#order_search #fieldgroup-sort .panel.panel-default {
  min-height: 130px;
}
form#audit_log .btn,
form#order_search .btn {
  margin-top: 0;
}
form.cd label.required:before,
form.cd legend.required:before {
  content: '* ';
  color: #ff6600;
}
form.ftgw label.required:before,
form.ftgw legend.required:before {
  content: '* ';
  color: #0099ff;
}
form label.required-conditionally:before,
form legend.required-conditionally:before {
  content: '* ';
  color: #999999;
}
.button-add {
  margin-top: 0;
  margin-bottom: 1px;
}
.button-remove {
  margin-top: 19px;
  margin-bottom: 1px;
}
.mandatory-cd {
  color: #ff6600;
}
.mandatory-ftgw {
  color: #0099ff;
}
.connectionTypeLabel {
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  color: #ffffff;
}
.connectionTypeLabel.cd {
  background: #ffcc33;
}
.connectionTypeLabel.ftgw {
  background: #0099ff;
}
.order-summary.jumbotron {
  overflow: auto;
  padding: 5px 10px;
  background: #fefefe;
}
.order-summary .col-md-5,
.order-summary .col-md-6,
.order-summary .col-md-12 {
  padding: 0;
  overflow: auto;
}
.order-summary dl {
  margin-top: 10px;
  margin-bottom: 0;
}
.order-summary .endpoint-block-header {
  font-weight: bold;
  text-align: center;
}
.order-summary .connection-direction-arrow span {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
