<?php
$modulePathsPrefix = getenv('RUNTIME_CONTEXT') === 'testing'
    ? __DIR__ . '/../' : './';
$configGlobPathsPrefix = getenv('RUNTIME_CONTEXT') === 'testing'
    ? __DIR__ . '/../' : './';
$configFilePrefix = getenv('RUNTIME_CONTEXT') === 'testing'
        ? 'test' . '/' : null;
$configCacheEnabled = getenv('RUNTIME_CONTEXT') !== 'testing';

return [
    'modules' => [
        'Zend\Router',
        'Zend\Validator',
        'Zend\I18n',
        'Zend\Mvc\I18n',
        'Zend\Hydrator',
        'Zend\Navigation',
        'Zend\Form',
        'Zend\Hydrator',
        'Zend\InputFilter',

        'Application',
        'Logging',
        'ErrorHandling',
        'Authentication',
        'Authorization',
        'AuditLogging',
        'MasterData',
        'Order',
    ],
    'module_listener_options' => [
        'module_paths' => [
            $modulePathsPrefix . 'module',
            $modulePathsPrefix . 'vendor',
        ],
        'config_glob_paths' => [
            $configGlobPathsPrefix . 'config/autoload/module/{,*.}{global,local}.php',
            $configGlobPathsPrefix . 'config/autoload/{,*.}{global,local}.php',
            $configGlobPathsPrefix . 'config/autoload/' . $configFilePrefix . '{,*.}{global,local}.php',
        ],
        'config_cache_enabled' => $configCacheEnabled,
        'config_cache_key' => 'app_config',
        'module_map_cache_enabled' => false,
        'module_map_cache_key' => 'module_map',
        'cache_dir' => __DIR__ . '/../data/cache',
    ],
];
