<?php
use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;
use Doctrine\ORM\Mapping\Driver\AnnotationDriver;

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => PDOMySqlDriver::class,
                'params' => [
                    'host'     => 'HOST',
                    'user'     => 'USERNAME',
                    'password' => 'PASSWORD',
                    'dbname'   => 'autofit',
                ]
            ],
        ],
        'driver' => [
            'application' . '_driver' => [
                'class' => AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [__DIR__ . '/../../module/Base/src/DataObject']
            ],
            'orm_default' => [
                'drivers' => [
                    'Base' . '\DataObject' => 'application' . '_driver'
                ]
            ]
        ],
    ],
];
